@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');


* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

:root {
  --font: "Montserrat", monospace;
  --border-radius: 20px;
  --border-size: 2px;
  --shadow-distance: 9px;
  --transition-time: .5s;
  --global-padding: 1rem;

  --bg: #f3f2f1;
  --white: #e55039;
  --black: #24252b;

}
/*
*,
*::before,
*::after {
  box-sizing: border-box;
}

*:focus {
  outline: none;
}*/


body {
  width:100%;
  font-family: var(--font);
  color:#eee;
  font-size: 10px;
  font-size: 100%;
  
  background: #141e30;
  background: -webkit-linear-gradient(to right, #141e30, #243b55); 
  background: linear-gradient(to right, #141e30, #243b55); 
}

.container{
  position:relative;
  min-height:100vh;
  width:100%;
}



/*  Card styles */
.card{
  display:flex;
  flex-direction:column;
  padding:27px 25px;;
  border-radius:10px;
  border: 2px solid rgba(255, 255, 255, 0.2);
  justify-content: space-between;
  
  position:absolute;
  left:50%;
  top:50%;
  transform:translate(-50%, -50%);
  
  background-color:rgba(90,80,80,.4);
  backdrop-filter: blur(30px);
  box-shadow: 0 0 80px rgba(0, 0, 0, 0.3);
}

/* Fade out animation*/
.card > * {
  transition:all .2s ease;
  opacity:1;
}

.card.fade > *{
  opacity:0
}

.card .quote{
  display:flex;
  align-items:center;
  font-weight:500;
  font-size:1.2rem;
  /*line-height:1.9rem;
  height:80%;
  hyphens: auto;*/
  text-shadow: 4px 3px 10px rgba(0, 0, 0, 0.3);
}

.card .album{
  display:flex;
  height:50px;
}


.card .album img{
  height:100%;
  border-radius:6px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  filter:saturate(80%);
}

.card .album .artist{
  display:flex;
  flex-direction:column;
  justify-content: center;
  height:100%;
  margin-left:14px;
  
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card .album .album_name{
  font-weight:700;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card .album .artist_name{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/*  Circle Styling */
.circle{
  --color-1:#db36a4;
  --color-2:#f7ff00;
  --distance:230px;
  --size:0px;
  
  height:var(--size);
  width:var(--size);
  position:absolute;
  left:50%;
  top:50%;
  transform:translate(-50%, -50%);
  border-radius:50%;
  opacity:0;
  transition:all .8s ease;
  
  background: var(--color-1); 
  background: -webkit-linear-gradient(to right,var(--color-1) , var(--color-2));
  background: linear-gradient(45deg, var(--color-1), var(--color-2)); 
  box-shadow: 2px 2px 15px rgba(0, 0, 0, .7);
}

.circle:after{
  content:"";
  display:block;
  height:var(--size);
  width:var(--size);
  z-index:-9;
  border-radius:50%;
  
  transition:all .8s ease;
  background: var(--color-1); 
  background: -webkit-linear-gradient(to right,var(--color-1) , var(--color-2));
  background: linear-gradient(45deg, var(--color-1), var(--color-2)); 
  filter:blur(30px);
  opacity:.5;
}

.circle:not(.selected,.next,.prev){
  z-index:-1;
}

/*  Circle Variations */
.circle.selected{
  --size:250px;
  opacity:1;
  -webkit-animation: rotating 8s ease infinite;
  animation: rotating 8s ease infinite;
}

.circle.selected:after{
  opacity:.5;
  filter:blur(130px);
}

.circle.prev,.circle.next{
  --size:60px;
  opacity:1;
  cursor:pointer;
}

.circle.prev:hover,.circle.next:hover{
  --size:75px;
}

.circle.prev{
  left:calc(50% - var(--distance));
}

.circle.next{
  left:calc(50% + var(--distance));
}

/*  Circle Colors */
.circle._1{
  --color-1:#00c3ff;
  --color-2:#ffff1c;
}

.circle._2{
  --color-1:#12c2e9;
  --color-2:#c471ed;
}

.circle._3{
  --color-1:#db36a4;
  --color-2:#f7ff00;
}


.circle._4{
  --color-1:#30E8BF;
  --color-2:#FF8235;
}

.circle._5{
  --color-1:#a80077;
  --color-2:#66ff00;
}


.circle.prev,.circle.next{
  --size:60px;
  opacity:1;
}

@keyframes rotating{
  0%{
    -webkit-transform: 
      translate(-50%,-50%)
      rotate(0deg);
    transform:  
      translate(-50%,-50%)
      rotate(0deg);
  }
  
  50%{
    -webkit-transform: 
      translate(-50%,-50%)
      scale(.8)
      rotate(180deg);
    transform:  
      translate(-50%,-50%)
      scale(.9)
      rotate(180deg);
  }
  
  100%{
    -webkit-transform: 
      translate(-50%,-50%)
      rotate(360deg);
    transform:  
      translate(-50%,-50%)
      rotate(360deg);
  }
}


@media (max-width: 700px) {
  .circle.prev{
    left:50%;
    top:calc(50% - var(--distance));
  }

  .circle.next{
    left:50%;
    top:calc(50% + var(--distance));
  }
}